body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2vw;
  background-color: rgb(13,17,25);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
    margin: auto;
  max-width: 50vw;
  flex-direction: column;
  display: flex;
  /*opacity:0; !*Элемент полностью прозрачный (невидимый)*!*/
  transition: 3s; /*Скорость перехода состояния элемента*/
}

.message {
  padding: 20px;
  color: rgb(242, 242, 242);
  margin-bottom: 8px;
  border-radius: 8px;
  width: fit-content;
  position: relative;
}



.incomingMessage {
  text-align: left;
  background-color: rgb(19,27,39);

}

.incomingMessage:after {
  content: '';
  position: absolute;
  left: 0;
  top: 70%;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  border-right-color: rgb(19,27,39);
  border-left: 0;
  border-bottom: 0;
  margin-top: -4px;
  margin-left: -10px;
}

.outCommingMessage {
  text-align: right;
  background-color: rgb(33, 62, 103);
  align-self: flex-end;
}

.outCommingMessage:after {
  content: '';
  position: absolute;
  right: 0;
  top: 70%;
  width: 0;
  height: 0;
  border: 21px solid transparent;
  border-left-color: rgb(33, 62, 103);
  border-right: 0;
  border-bottom: 0;
  margin-top: -4px;
  margin-right: -10px;
}

input {
  margin-top: 45px;
  position: sticky;
  bottom: 20px;
  background-color: rgb(18,25,33);
  height: 45px;
  border: none;
  outline: none;
    color: rgb(90,101,113);
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(242,242,242);
  font-size: 17px;
}

input:focus::-webkit-input-placeholder {
  color: rgb(62,72,85);
}

button {
  height: 45px;
  margin-top: -45px;
  z-index: 1;
  width: 50px;
  align-self: flex-end;
  background: rgb(18,25,33);
  outline: none;
  border: none;
  position: sticky;
  bottom: 20px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  box-shadow: 1px -1px 0 1px  rgb(62,72,85) inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  transition: 0.2s;
}

.arrow:hover {
  box-shadow: 1px -1px 0 1px rgb(90,101,113) inset;
}

.arrow-right { transform:rotate(225deg) }


.arrow {
  top: 62px;
  margin: -67px 0 0 -67px;
  left: 83px;
}
